* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: blueviolet;
  margin: 10px 50px;
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

h3 {
  color: white;
}

.search-menu {
  margin: 100px 50px 0px 50px;
}

.search-text input {
  padding: 5px 10px;
}

.filter {
  border-radius: 5px;
  color: white;
  border: none;
  padding: 7px 10px;
  width: fit-content;
  background-color: blueviolet;
  margin: 10px 0;
}

.selected {
  border-radius: 5px;
  color: blueviolet;
  border: 1px solid blueviolet;
  padding: 6px 9px;
  width: fit-content;
  background-color: white;
  margin: 10px 0;
}

#search-number input {
  padding: 5px 10px;
}

#search-number button {
  border-radius: 5px;
  color: white;
  padding: 7px 10px;
  width: fit-content;
  border: none;
  background-color: blueviolet;
  margin-left: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1px 50px;
}

.product-item {
  margin: 40px 0;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 30px 0px rgba(66, 68, 90, 0.2);
}

.product-item img {
  border: 2px solid rgba(66, 68, 90, 0.096);
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-item span {
  display: block;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  width: fit-content;
  background-color: blueviolet;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .products {
    justify-content: center;
  }

  .search-menu{
    text-align: center;
    /* justify-content: space-around;
    align-items: center; */
  }
}

